<div class="container">
  <% if current_user&.user_role == "vendor" %>
    <%= link_to 'Create Products', new_product_path, class: "btn btn-outline-primary" %>
  <% end %>

	<h1>Products</h1>
	<ul>
    <% @products.each do |product| %>
      <li>
        <div class="product-item">
          <%= link_to product.name, product %>
          <span class="spacer"></span>
          <% if current_user&.user_role == 'customer'%>
            <%= button_to 'Add to Cart', add_to_cart_path(product_id: product.id), method: :post, class: "btn btn-outline-primary" %>
          <% else %>
            <%= link_to 'Edit', edit_product_path(product.id), method: :put, class: "btn btn-outline-primary" %>
          <% end %>
        </div>
      </li>
    <% end %>
	</ul>
</div>
